* {
  outline: 0;
  margin: 0;
  font-family: 'Arial', Times, serif;
}

.container {
  display: flex;

}

/* .container div{
  height: 100vh;
} */
.container #lado-izquierdo,
.container #lado-central,
.container #lado-derecho {
  height: 100vh;
}

#lado-izquierdo {
  background-color: white;
  width: 45%;
}

#lado-central {
  background-color: black;
  width: 3%;
}

#lado-derecho {
  background-color: rgb(195, 4, 4);
  width: 65%;

}


.circulo-absolute {
  position: absolute;
}

.body-circulo {
  display: flex;
  position: relative;
}

.div-circulo {
  width: 110px;
  left: 26vw;
  height: auto;
  position: absolute;
  bottom: 10vh;
}

.circulos {
  transition: background-color 0.25s ease-in-out;
  width: 100%;
  /* Ancho del círculo */
  outline: 9px solid rgb(0, 0, 0);
  padding-bottom: 100%;
  /* Altura del círculo */
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
}

.circulos:hover {
  
  background-color: rgb(174, 0, 0);
}

.circulos:hover #apiButton {
  
  color: white;
}

.circulos {
  width: 100%;
  /* Ancho del círculo */
  outline: 9px solid rgb(0, 0, 0);
  padding-bottom: 100%;
  /* Altura del círculo */
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
}

.swal-custom-popup {
  border-radius: 46px 7px;
}

.swal-custom-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  font-size: clamp(16px, 4vw, 32px);
}

/*Estilos a los elementos del primer bloque*/
#titulo {
  margin-top: 20vh;
  text-align: center;
}

#titulo h1 {
  font-size: 28px;
}

#input-text {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
}

#input-text input {
  width: 88%;
  border-width: 0.2px
}

#apiButton {
  transition: color 0.25s ease-in-out;
  cursor: pointer;
  position: absolute;
  background-color: transparent;
  border: 0;
  top: 30%;
  font-weight: bold;
  font-size: 15px;
}


/*Estilos a los elementos del tercer bloque*/
#header-div {
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  background-color: #CFD2CF;
  height: 6%;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  text-align: center;
  font-weight: bold;

}

#header-div h5 {
  padding: 10px;
}

#footer-div {
  border-bottom-left-radius: 80%;
  border-bottom-right-radius: 80%;
  background-color: #CFD2CF;
  height: 4%;
  width: 70%;
}

#body-div {
  min-height: 13%;
  background-color: #ffffff;
  width: 70%;
}

#tabla {
  height: 56vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 190px;
}

#historial-div {
  overflow: auto;
  height: 100%;
}

.historial-item {
  padding: 10px;
}

#clearHistorial {
  margin-top: 1rem;
  background-color: rgb(52, 124, 196);
  border: 0;
  padding: 0.5rem;
  font-size: 15px;
  border-radius: 9%;
  font-weight: bold;
}

/*Puntos de quiebre*/
/*Tablet*/
@media (min-width: 768px) {

  #lado-central {
    width: 5%;
  }

  #apiButton {
    font-size: 30px;
  }
  .div-circulo {
    width: 200px;
    left: 28vw;
  }
  .circulos {
    outline-width: 29px;
  }

}

/*Notebook*/
@media (min-width: 1024px) {

  #titulo h1 {
    font-size: 50px;
  }


  #input-text input {
    padding: 0.5rem;
    width: 65%;
  }
  .div-circulo {
    width: 220px;
    left: 30.5vw;
  }
  .circulos {
    outline-width: 34px;
  }

}

/*PC*/
@media (min-width: 1200px) {

  #lado-izquierdo {
    background-color: white;
    width: 35%;
  }

  #apiButton {
    font-size: 40px;
  }

  #titulo h1 {
    font-size: 45px;
  }

  #header-div h5 {
    font-size: 20px;
  }

  #clearHistorial {
    padding: 0.8rem;
    font-size: 18px;
  }
  .div-circulo {
    width: 260px;
    left: 25vw;
  }

}

/* PC 2*/
@media (min-width: 1400px) {

  #titulo h1 {
    font-size: 55px;
  }

  #header-div h5 {
    font-size: 22px;
  }

  #clearHistorial {
    padding: 1rem;
    font-size: 22px;
  }
  .div-circulo {
    width: 260px;
    left: 26.8vw;
  }
  .circulos {
    outline-width: 40px;
  }

}

/* Monitor 1920px */
@media (min-width: 1920px) {


  #apiButton {
    font-size: 40px;
  }

  #titulo h1 {
    font-size: 68px;
  }

  #header-div h5 {
    font-size: 24px;
  }

  #clearHistorial {
    padding: 1rem;
    font-size: 25px;
  }

  #input-text input {
    padding: 1rem;
    width: 65%;
  }
  .div-circulo {
    width: 290px;
    left: 28vw;
  }
  .circulos {
    outline-width: 50px;
  }

}